<% layout('layout/page') -%>
<% block('title', "Рейтинг") -%>

<script src="/vendor/bower_components/socket.io-client/dist/socket.io.js"></script>

<div id='info' class='status' style='display: none;'>
    <p></p>
    <button id='cancel' class="btn btn-primary">Отмена</button>
</div>

<div id='invite' class='status' style='display: none;'>
    <p></p>
    <button id='agreed' class="btn btn-primary">Принять</button>
    <button id='refused' class="btn btn-primary">Отказаться</button>
</div>

<div id="overlay" style='display: none;'></div>


<table align='center' width=1000>
   <tr>
    <th>Имя</th>
    <th>Побед</th>
    <th>Поражений</th>
    <th>Дата регистрации</th>
   </tr>
 
   <% userList.forEach(function(current) {
        if(user && user.username === current.username) { %>
            <tr>
                <td><b><%=current.username%></b></td>
                <td><b><%=current.wins%></b></td>
                <td><b><%=current.loses%></b></td>
                <td><b><%=current.created.toDateString()%></b></td>
            </tr>
        <% } else { %> 
            <tr>
                <td><%=current.username%></td>
                <td><%=current.wins%></td>
                <td><%=current.loses%></td>
                <td><%=current.created.toDateString()%></td>
            </tr>     
        <% } %>
    <% }); %>
</table>

<script>
    var invite = $('#invite');
    var overlay = $('#overlay');
    var info = $('#info')

    var socket = io();

    socket
        .on('join', function() {
            socket.emit('get online list');
        })

        .on('leave', function() {
            socket.emit('get online list');
        })

        .on('game invite', function(from, room, creatorId) {

            $('#invite p').text(from + ' приглашает вас в игру. Принять вызов?');
            invite.show();
            overlay.show();

            $('#agreed').click(function() {
                socket.emit('agreed', true, room, creatorId);
                invite.hide();
                overlay.hide();
            });

            $('#refused').click(function() {
                socket.emit('agreed', false, room, creatorId);
                invite.hide();
                overlay.hide();
            });
        })
        
        .on('cancel invite', function() {
            invite.hide();
            overlay.hide();
        })
        
        .on('start game', function(username, room) {
            $('#info p').text('Начинается игра против ' + username);

            overlay.show();
            info.show('slow');

            setTimeout(function() {
                overlay.hide();
                info.hide('slow');
                location.href = "/game/" + room;
            }, 3000);
        });
</script>